header {
 background-color: #00cdcd;
 padding: 20px;
}

nav {
  width:1024px;
  margin: 0 auto;
}

nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}